// START BLOG
.blog-news {
  margin-top: 73px;
  margin-bottom: 100px;
}
.blog-heading {
  margin-bottom: 35px;
  h3 {
    font-family: $font-regular;
    font-size: 0.75rem;
    line-height: 1.5833;
    letter-spacing: 0.2em;
    color: $clr-text-grey;
    text-align: center;
    text-transform: uppercase;
  }
  h1 {
    font-family: $font-heading-bold;
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    color: $clr-text-dark;
  }
}
.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 60px;
  margin-bottom: 80px;
}
.blog-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  .page-link {
    background: transparent;
    border: none;
    font-family: $font-bold;
    font-size: 14px;
    line-height: 25px;
    padding: 0;
    color: $clr-text-date;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 0;
      transition: all 0.3s ease-in-out;
      background: #ed1c24;
      border-radius: 10px;
    }
    &:hover {
      opacity: 1;
    }
  }
  .page-item {
    &.active {
      .page-link {
        opacity: 1;
        background: transparent;
        color: inherit;
        &::after {
          width: 100%;
        }
      }
    }
  }
}
.blog-info {
  margin-top: 78px;
  margin-bottom: 40px;
  h1 {
    font-family: $font-bold;
    font-size: 2.5rem;
    line-height: 1.25;
    padding-bottom: 24px;
    color: $clr-text-dark;
    border-bottom: 1px solid rgba($color: #214336, $alpha: 0.5);
    margin-bottom: 26px;
  }
  .blog-info-wrapper {
    display: flex;
    align-items: center;
    p {
      color: $clr-text-date;
      padding: 0 15px;
      position: relative;
      span {
        font-size: 0.875rem;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -1.5px;
        display: block;
        width: 3px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: $clr-text-date;
      }
      &:first-child {
        padding-left: 0;
        &::before {
          content: none;
        }
      }
    }
  }
}
.blog-main {
  padding-right: 3.6875rem;
  margin-bottom: 138px;
}
.blog-content {
  p {
    line-height: 2;
    margin-bottom: 2em;
    color: $clr-text-dark;
  }
  img {
    margin-bottom: 50px;
  }
  blockquote {
    padding-left: 69px;
    font-family: $font-semibold;
    font-size: 2.25rem;
    margin-bottom: 50px;
    color: $clr-text-dark;
    line-height: 1.352;
    background-image: url("../images/blog-qote.svg");
    background-repeat: no-repeat;
    background-position: top left;
  }
  .blog-group-img {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    width: 100%;
    img {
      width: 100%;
      height: auto;
      max-width: 47.5%;
      border-radius: 8px;
      flex: 1;
    }
  }
}
.blog-share {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  .blog-share-item {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: $font-bold;
    font-size: 8px;
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    padding: 2px 13px;
    border-radius: 4px;
    border: 1px solid #c4c4c4;
    color: #6c757d;
    img {
      width: 10px;
    }
    &:hover {
      border-color: $clr-text-dark;
      color: $clr-text-dark;
    }
  }
}
.blog-related {
  margin-top: 26px;
  h2 {
    font-family: $font-heading-bold;
    font-size: 1.5rem;
    color: $clr-text-dark;
    margin-bottom: 33px;
  }
  .blog-related-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 60px;
  }
}
.blog-similar {
  padding-top: 5rem;
  padding-bottom: 6rem;
  h2 {
    font-family: $font-heading-bold;
    font-size: 1.625rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 50px;
  }
  .blog-similar-list {
    display: flex;
    gap: 40px;
    .news {
      flex: 1;
    }
  }
}
// END BLOG

// START TOPIC
.topic {
  display: flex;
  height: fit-content;
  h2 {
    font-family: $font-heading-bold;
    font-size: 1.75rem;
    color: $clr-text-dark;
    margin-bottom: 60px;
  }
  .topic-img {
    width: 50%;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .topic-container {
    width: 50%;
    background-color: $bg-off-white;
    padding: 100px 20px;
    height: fit-content;
  }
  .topic-content {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .topic-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
// END TOPIC

@include desktop {
  .blog-list {
    column-gap: 20px;
    margin-bottom: 50px;
  }
  .blog-main {
    padding-right: 15px;
  }
  .topic {
    .topic-container {
      padding: 50px 20px;
    }
  }
}

@include tablet {
  .blog-list {
    row-gap: 50px;
    margin-bottom: 30px;
  }
  .blog-main {
    margin-bottom: 40px;
    padding-right: 0;
  }
  .blog-info {
    margin-top: 30px;
    margin-bottom: 20px;
    h1 {
      font-size: 1.5rem;
      padding-bottom: 16px;
      margin-bottom: 16px;
    }
    .blog-info-wrapper {
      p {
        font-size: 12px;
        span {
          font-size: 10px;
        }
      }
    }
  }
  .blog-content {
    p {
      line-height: 1.5;
      margin-bottom: 1.5em;
    }
    img {
      margin-bottom: 30px;
    }
    blockquote {
      padding-left: 46px;
      font-size: 16px;
      margin-bottom: 30px;
      background-size: 26px 24px;
    }
    .blog-group-img {
      gap: 12px;
      margin-top: 20px;
    }
  }
  .blog-share {
    gap: 9px;
  }
  .blog-related {
    margin-bottom: 40px;
    margin-top: 0;
    .blog-related-list {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
      row-gap: 30px;
    }
  }
  .blog-similar {
    .blog-similar-list {
      column-gap: 20px;
    }
  }
  .topic {
    h2 {
      margin-bottom: 24px;
    }
    .topic-list {
      gap: 24px;
    }
  }
}

@include landscape-phone {
  .blog-news {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .blog-heading {
    h1 {
      font-size: 24px;
    }
  }
  .blog-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-content {
    p {
      font-size: 12px;
    }
    img,
    blockquote {
      margin-bottom: 20px;
    }
  }
  .blog-related {
    h2 {
      font-size: 16px;
      margin-bottom: 25px;
    }
    .blog-related-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .blog-similar {
    padding: 40px 0;
    h2 {
      text-align: left;
      font-size: 20px;
      margin-bottom: 25px;
    }
    .blog-similar-list {
      overflow-x: auto;
      .news {
        flex: 0 0 42%;
      }
    }
  }
  .topic {
    flex-direction: column;
    .topic-img {
      width: 100%;
      img {
        position: relative;
      }
    }
    .topic-container {
      width: 100%;
      padding: 40px 10.5px;
    }
    .topic-content {
      max-width: 519px;
    }
  }
}

@include mobile {
  .blog-heading {
    margin-bottom: 30px;
  }
  .blog-list {
    column-gap: 10px;
    row-gap: 35px;
  }
  .blog-info {
    h1 {
      font-size: 16px;
    }
  }
  .blog-related {
    .blog-related-list {
      column-gap: 10px;
    }
  }
  .blog-similar {
    .blog-similar-list {
      .news {
        flex: 0 0 75%;
      }
    }
  }
  .topic {
    h2 {
      font-size: 16px;
    }
  }
}
